<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScillyQuest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='webcode-styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/dracula.min.css">

</head>
<body>
    <header class="header">
        <h1>SCILLYQUEST</h1>
        <div class="timer" id="countdown">120:00</div>

        <div class="buttons">
            <button class="round-btn" title="Question 1" data-question="1">1</button>
            <button class="round-btn" title="Question 2" data-question="2">2</button>
            <button class="round-btn" title="Question 3" data-question="3">3</button>            
            <button class="submit-code-btn" id="submit-code">Submit Code</button>
            <button class="end-test-btn">End Test</button>
        </div>
    </header>

    <main class="main-container">
        <div class="questions-section">
            <p>
                <span id="question-title">QUESTION 1</span>
                <span>Cho a=1 và b=2</span><br>
                <span>Xuất ra tổng a và b</span><br>
            </p>
        </div>

        <div class="code-section">
            <div class="dropdown">
                <select id="language">
                    <option value="python">Python</option>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                </select>
            </div>
            <textarea id="code" placeholder="TYPE YOUR CODE..."></textarea>
            <div class="output-section">
                <p>Submission State</p>
                <pre id="output"></pre>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='webcode.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/clike/clike.min.js"></script>

</body>
</html>
